# Ignorar todos los archivos por defecto
*

# Permitir archivos .tex y .pdf
!*.tex
!*.pdf

# Ignorar archivos de compilación de LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdfsync
*.nav
*.snm
*.vrb

# Ignorar archivos de compilación de BibTeX
*.bcf
*.run.xml

# Ignorar archivos temporales
*.tmp
*.bak
*.swp
*.backup
*~

# Ignorar directorios temporales
_build/